@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type='text'],
  input[type='number'],
  input[type='date'],
  input[type='time'],
  select {
    @apply border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring-blue-500;
  }

  button {
    @apply rounded-md shadow-sm;
  }
}

#map {
  min-height: 400px;
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
} 